@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');


.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ########################################################################## */
/* pet profile  */
.profile-pic {
    width: 200px;
    height: 200px;
    float: left;
}

img {
  display: block;
  max-width:230px;
  max-height:200px;
  width: auto;
  height: auto;
}

/* resize images */
.profile-pic img {
    height: auto;
    float: left;
}

.pet-info {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  /* border: 1px dashed black; */
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 10px;
  margin: 10px;
}

.column {
  /* flex: 50%; */
  /* float: left; */
  width: 25%;
  padding: 10px;
  margin-left: 30px;
}

.row {
  display: flex;
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.name {
  float:left;
}

.pet-attributes {
  margin-top: 50px;
  float: right;
  /* flex: 50%; */
  /* float: left; */
  width: 75%;
  padding: 10px;
}
/* ########################################################################## */


.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px dashed black; */
  padding: 10px;
  margin: 10px;
}

.suggestion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px dashed black; */
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
}

.suggestion-pic {
    /* width: 200px; */
    /* height: 200px; */
    float: left;
}

.suggestion-pic img {
    width: 100%;
    /* height: auto; */
    float: left;
}

.suggestion-card {
  display: inline-block;
  margin: 10px !important;
}


/*  ------------------*/


.dating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px dashed black; */
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
}




.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px dashed black; */
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
}


.post-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px dashed black; */
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 10px;
  margin: 10px;
}

.date-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px dashed black; */
  padding: 10px;
  margin: 10px;
}

.ui.image.post-pic {
    /* width: 200px; */
  height: 200px;
  align-content: center;
  border-radius: 0 !important;
  width:auto !important;
  margin:auto
}

.login-page {
  height: 100vh;
  padding: 20px;
  background-image: url("https://res.cloudinary.com/mod4flatiron010719/image/upload/v1557506098/goifwma3guwdfmmel0uy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-header {
  text-align: center;
}

#logo {
  font-family: 'Baloo Bhai', cursive;
  font-size: 4em;
  display: inline-block;
}

.user-container {
  background-color: #ededed;
}

.user-padding {
  padding: 20px
}

.navbar {
  float: right;
  display: inline-block;
  padding-top: 20px;
  font-size: 20px;
}


.header-navbar {
  position: relative;
}

.logout-button {
  padding-left: 30px;
}

/* .inline-block {
  display: inline-block;
}

.float-right {
  float: right;
} */

#post-submit.ui.blue.small.button {
  margin-top: 20px !important;
}
